<header>
    <h1>Home Page</h1>
</header>
<main>
    <article>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad ut modi assumenda rerum eveniet, vero minus voluptatum consequatur perspiciatis. Blanditiis nulla a alias, eos reiciendis iste quas facere dignissimos.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit magnam sequi excepturi beatae eos temporibus quisquam aliquid rem, eum laborum officiis repellat asperiores autem quaerat, voluptate ipsam nesciunt quidem iusto!
            Temporibus eum nobis eligendi vitae asperiores voluptate quo hic saepe id, quia error neque dolorem nisi numquam doloremque minus cumque aliquam et necessitatibus porro ullam! Unde doloribus dignissimos quaerat voluptatibus.
        </p>
        <app-teste></app-teste>
        <app-teste></app-teste>
        <app-react-box></app-react-box>
    </article>
</main>
<footer>
    <h2>Footer</h2>
</footer>
